* {
  margin: 0%;
  padding: 0%;
}
header .header_main {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: auto;
  width: 100vw;
  padding: 15px;
  border-bottom: solid 1.5px #aaa;
}
header .header_main .logo_textlo {
  width: 200px;
}
header .header_main .logo_textlo .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  vertical-align: middle;
  border-radius: 100%;
}
header .header_main .logo_textlo .textlo {
  display: inline-block;
  vertical-align: middle;
}
header .header_main .serch_box {
  display: inline-flex;
  width: 80%;
  height: 40px;
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 1.25em;
  margin-left: 150px;
  vertical-align: middle;
  border: none;
  align-items: center;
}
header .header_main .serch_box input {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  padding-left: 12px;
}

header .header_main .rightItem {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  height: 40px;
}

header .header_main .rightItem .getApp {
  display: inline-flex;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #aaa;
  border-radius: 1.25em;
}
header .header_main .rightItem .getApp i {
  display: inline-flex;
  margin-left: 12px;
  margin-right: 12px;
}
header .header_main .rightItem .getApp h6 {
  display: inline-flex;
  margin-bottom: 0px;
}
header .header_main .rightItem .login {
  width: 150px;
  height: 40px;
  border-radius: 1.25em;
  background-color: orange;
  color: white;
  display: inline-flex;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
header .header_main .rightItem .login h6 {
  margin: 0px;
}
header .header_main .rightItem .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100px;
  height: 40px;
  border-radius: 1.25em;
}
header .header_main .rightItem .icon i {
  padding-left: 5px;
  padding-right: 5px;
}
/* ------------- end header ----------------*/
section .mainContain .row .leftBox {
  position: fixed;
  left: 0;
  /* set leftbox to fit the left side */
  padding: 12px 15px 12px 15px;
}
section .mainContain .row .rightBox {
  position: fixed;
  right: 0;
  /* set rightbox to fit the right side */
  background-color: #f0f0f0;
  padding: 12px 50px 12px 50px;
}
section .mainContain .row .leftBox .text {
  color: #aaa;
  font-size: small;
}
/* start home label */
section .mainContain .row .leftBox .home {
  margin-top: 12px;
}
section .mainContain .row .leftBox .home i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .home .textHome {
  display: inline-block;
}
/* end home label */

/* start poppular label */
section .mainContain .row .leftBox .poppular {
  margin-top: 12px;
}
section .mainContain .row .leftBox .poppular i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .poppular .textPop {
  display: inline-block;
}
/* end poppular label */

/* start line box */
section .mainContain .row .leftBox .line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
section .mainContain .row .leftBox .line hr {
  width: 80%;
}
/* end line box */

/* start gaming label */
section .mainContain .row .leftBox .gaming {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .gaming .gameIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
section .mainContain .row .leftBox .gaming i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .gaming .textGaming {
  display: inline-block;
}
section .mainContain .row .leftBox .gaming .boxArrow {
  width: 100%;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}
section .mainContain .row .leftBox .gaming .boxArrow i {
  padding: 0px;
}
/* end gaming label */

/* start sport label */
section .mainContain .row .leftBox .sport {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .sport i {
  display: inline-block;
  width: 32px;
  padding-right: 12px;
}
section .mainContain .row .leftBox .sport .textSport {
  display: inline-block;
}
section .mainContain .row .leftBox .sport .boxArrow i {
  width: 12px;
}
section .mainContain .row .leftBox .sport .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .sport .sportIcon {
  display: inline-flex;
  align-items: center;
}
/* end sport label */

/* start business label */
section .mainContain .row .leftBox .business {
  margin-top: 12px;
}
section .mainContain .row .leftBox .business i {
  display: inline-block;
  width: 38;
  padding-right: 12px;
}
section .mainContain .row .leftBox .business .textBusiness {
  display: inline-block;
}
/* end business label */

/* start crypto label */
section .mainContain .row .leftBox .crypto {
  margin-top: 12px;
}
section .mainContain .row .leftBox .crypto i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .crypto .textCrypto {
  display: inline-block;
}
/* end crypto label */

/* start tv label */
section .mainContain .row .leftBox .televetion {
  margin-top: 12px;
}
section .mainContain .row .leftBox .televetion i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .televetion .textTv {
  display: inline-block;
}
/* end tv label */

/* start celebrity */
section .mainContain .row .leftBox .celebrity {
  margin-top: 12px;
}
section .mainContain .row .leftBox .celebrity i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .celebrity .textCelebrity {
  display: inline-block;
}
/* end celebrity */

/* start moretopic label */
section .mainContain .row .leftBox .moreTopics {
  margin-top: 12px;
}
section .mainContain .row .leftBox .moreTopics i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .moreTopics .textTopics {
  display: inline-block;
}

/* end moretopic label */

/* add margin title label */
section .mainContain .row .leftBox .topic .text {
  margin-top: 12px;
}
