* {
  margin: 0%;
  padding: 0%;
}
header .header_main {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: auto;
  width: 100vw;
  padding: 15px;
  border-bottom: solid 1.5px #aaa;
}
header .header_main .logo_textlo {
  width: 200px;
}
header .header_main .logo_textlo .logo {
  display: inline-flex;
  width: auto;
  height: auto;
  background-color: rgb(255, 72, 0);
  vertical-align: middle;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
header .header_main .logo_textlo .logo .redditImg img {
  width: 40px;
  height: auto;
}
header .header_main .logo_textlo .textlo {
  display: inline-block;
  vertical-align: middle;
}
header .header_main .serch_box {
  display: inline-flex;
  width: 80%;
  height: 40px;
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 1.25em;
  margin-left: 150px;
  vertical-align: middle;
  border: none;
  align-items: center;
}
header .header_main .serch_box input {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  padding-left: 12px;
}

header .header_main .rightItem {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  height: 40px;
}

header .header_main .rightItem .getApp {
  display: inline-flex;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #aaa;
  border-radius: 1.25em;
}
header .header_main .rightItem .getApp i {
  display: inline-flex;
  margin-left: 12px;
  margin-right: 12px;
}
header .header_main .rightItem .getApp h6 {
  display: inline-flex;
  margin-bottom: 0px;
}
header .header_main .rightItem .login {
  width: 150px;
  height: 40px;
  border-radius: 1.25em;
  background-color: orangered;
  color: white;
  display: inline-flex;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
header .header_main .rightItem .login h6 {
  margin: 0px;
}
header .header_main .rightItem .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100px;
  height: 40px;
  border-radius: 1.25em;
}
header .header_main .rightItem .icon i {
  padding-left: 5px;
  padding-right: 5px;
}
/* ------------- end header ----------------*/
section .mainContain .row .leftBox {
  position: fixed;
  left: 0;
  /* set leftbox to fit the left side */
  padding: 12px 15px 12px 15px;
}
section .mainContain .row .rightBox {
  position: fixed;
  right: 0;
  /* set rightbox to fit the right side */
  background-color: #f0f0f0;
  padding: 12px 50px 12px 50px;
}
section .mainContain .row .leftBox .text {
  color: #aaa;
  font-size: small;
}
/* start home label */
section .mainContain .row .leftBox .home {
  margin-top: 12px;
}
section .mainContain .row .leftBox .home i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .home .textHome {
  display: inline-block;
}
/* end home label */

/* start poppular label */
section .mainContain .row .leftBox .poppular {
  margin-top: 12px;
}
section .mainContain .row .leftBox .poppular i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .poppular .textPop {
  display: inline-block;
}
/* end poppular label */

/* start line box */
section .mainContain .row .leftBox .line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
section .mainContain .row .leftBox .line hr {
  width: 80%;
}
/* end line box */

/* start gaming label */
section .mainContain .row .leftBox .gaming {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .gaming .gameIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
section .mainContain .row .leftBox .gaming i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .gaming .textGaming {
  display: inline-block;
}
section .mainContain .row .leftBox .gaming .boxArrow {
  width: 100%;
  display: inline-flex;
  justify-content: right;
  align-items: center;
}
section .mainContain .row .leftBox .gaming .boxArrow i {
  padding: 0px;
}
/* end gaming label */

/* start sport label */
section .mainContain .row .leftBox .sport {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .sport i {
  display: inline-block;
  width: 32px;
  padding-right: 12px;
}
section .mainContain .row .leftBox .sport .textSport {
  display: inline-block;
}
section .mainContain .row .leftBox .sport .boxArrow i {
  padding: 0px;
  width: auto;
}
section .mainContain .row .leftBox .sport .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .sport .sportIcon {
  display: inline-flex;
  align-items: center;
}
/* end sport label */

/* start business label */
section .mainContain .row .leftBox .business {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .business i {
  display: inline-block;
  width: 32;
  padding-right: 12px;
}
section .mainContain .row .leftBox .business .textBusiness {
  display: inline-block;
}
section .mainContain .row .leftBox .business .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .business .boxArrow i {
  padding: 0px;
}
section .mainContain .row .leftBox .business .busiIcon {
  display: inline-flex;
  align-items: center;
  width: 57px;
}

/* end business label */

/* start crypto label */
section .mainContain .row .leftBox .crypto {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .crypto i {
  display: inline-block;
  padding-right: 12px;
  width: 32px;
}
section .mainContain .row .leftBox .crypto .textCrypto {
  display: inline-block;
}
section .mainContain .row .leftBox .crypto .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .crypto .boxArrow i {
  width: auto;
  padding: 0px;
}
section .mainContain .row .leftBox .crypto .cryptoIcon {
  display: inline-flex;
  align-items: center;
  width: 50px;
}
/* end crypto label */

/* start tv label */
section .mainContain .row .leftBox .televetion {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .televetion i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .televetion .textTv {
  display: inline-block;
}
section .mainContain .row .leftBox .televetion .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .televetion .boxArrow i {
  padding: 0px;
}
section .mainContain .row .leftBox .televetion .tvIcon {
  display: inline-flex;
  align-items: center;
  width: 50px;
}
/* end tv label */

/* start celebrity */
section .mainContain .row .leftBox .celebrity {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .celebrity i {
  display: inline-block;
  padding-right: 12px;
  width: 32px;
}
section .mainContain .row .leftBox .celebrity .textCelebrity {
  display: inline-block;
}
section .mainContain .row .leftBox .celebrity .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .celebrity .boxArrow i {
  padding: 0px;
  width: auto;
}
section .mainContain .row .leftBox .celebrity .celeIcon {
  display: inline-flex;
  align-items: center;
  width: 50px;
}
/* end celebrity */

/* start moreTopic label */
section .mainContain .row .leftBox .moreTopics {
  display: flex;
  margin-top: 12px;
}
section .mainContain .row .leftBox .moreTopics i {
  display: inline-block;
  padding-right: 12px;
  width: 32px;
}
section .mainContain .row .leftBox .moreTopics .textTopics {
  display: inline-block;
}
section .mainContain .row .leftBox .moreTopics .boxArrow {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: right;
}
section .mainContain .row .leftBox .moreTopics .boxArrow i {
  padding: 0px;
  width: auto;
}
section .mainContain .row .leftBox .moreTopics .moreIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}
/* end moreTopic label */

/* add margin title label */
section .mainContain .row .leftBox .topic .text {
  margin-top: 12px;
}

/* start createAc box */
section .mainContain .row .leftBox .createAcFx {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .mainContain .row .leftBox .createAcFx .createAc {
  width: 80%;
  font-size: small;
}
/* end createAc box */

/* start joinBtn */
section .mainContain .row .leftBox .joinBtnFx {
  display: flex;
  align-items: center;
  justify-content: center;
}
section .mainContain .row .leftBox .joinBtnFx .joinBtn {
  width: 80%;
  height: auto;
}
section .mainContain .row .leftBox .joinBtnFx .joinBtn button {
  width: 100%;
  height: 40px;
  border-radius: 1.25em;
  color: white;
  background-color: orangered;
  border: none;
}
section .mainContain .row .leftBox .joinBtnFx .joinBtn button:hover {
  background-color: rgb(255, 109, 61);
}

section .mainContain .row .leftBox .joinBtnFx .joinBtn button:active {
  background-color: rgb(255, 161, 130);
}
/* end joinBtn */

/* //////////////  start right box ///////////// */

/* start creat trending box */
/* section .mainContain .row .rightBox .trenContain .row .mainTrending {
  background-color: rgb(228, 194, 182);
} */
/* section .mainContain .row .rightBox .trenContain .row .mainTrending h6 {
  padding-left: 12px;
} */

/* start content one of trending box */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .colum1
  .boxItem_1 {
  background-color: rgb(205, 84, 41);
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 0.5em;
  background-image: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.2)
    ),
    url("img/workIntech.jpeg");

  background-size: cover;
}
/* set col-md-3 to flex for set layout of item to center */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* set text in itembox of contentItem_1 */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem {
  color: #fff;
  padding: 12px;
  line-height: 1.5em;
  margin-top: 30px;
  text-shadow: 1px 1px 2px black;
}
/* set space of tille */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem
  .title
  h5 {
  margin: 0px;
}
/* set space of suptitle */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem
  .supTitle
  p {
  margin: 0px;
}
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem
  .ftContent {
  display: flex;
  align-items: center;
}
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem
  .ftContent
  .ftIcon {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: #f0f0f0;
  display: inline-block;
}
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .col-md-3
  .boxItem_1
  .contentItem
  .ftContent
  .ftText {
  display: inline-block;
  padding: 4px;
}
/* end content one of trending box */

/* start change background img of boxItem2 */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .colum1
  .boxItem_2 {
  background-image: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.2)
    ),
    url("img/sport.avif");

  background-size: cover;
}
/* end change background img of boxItem2 */

/* start change background img of boxItem3 */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .colum1
  .boxItem_3 {
  background-image: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.2)
    ),
    url("img/game.avif");

  background-size: cover;
}
/* end change background img of boxItem3 */

/* start change background img of boxItem4 */
section
  .mainContain
  .row
  .rightBox
  .trenContain
  .row
  .mainTrending
  .itemTrending
  .colum1
  .boxItem_4 {
  background-image: linear-gradient(
      0deg,
      #000,
      rgba(0, 0, 0, 0.8) 25%,
      rgba(0, 0, 0, 0.6) 50%,
      rgba(0, 0, 0, 0.4) 75%,
      rgba(0, 0, 0, 0.2)
    ),
    url("img/board_game.avif");

  background-size: cover;
}
/* end change background img of boxItem4 */

/* -------- start Popular post section content -------- */

/* set layout to be same padding as the above boxs */
section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  h6 {
  padding: 12px;
  margin: 0px;
  padding-left: 0px;
}

/* start set layout of firstbox of mainPopularContent */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN {
  width: 100%;
  height: auto;
  background-color: #fff;
  display: flex;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* end set layout of firstbox of mainPopularContent */

/* start set padding of all icon and content in first box of popular post section */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox {
  padding: 10px 12px 10px 12px;
  cursor: pointer;
  width: 100%;
}

/* end set padding of all icon and content in first box of popular post section */

/* start set layout of hot icon box in first box*/

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .hotIcon {
  background-color: #f6f7f8;
  border-radius: 1.25em;
  width: 70px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #0079d3;
  margin-right: 12px;
}
section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .hotIcon
  i {
  margin-right: 6px;
}

/* end set layout of hot icon box in first box */

/* start set layout of thailand box in first box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .thailand {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  border-radius: 1.25em;
  color: #0079d3;
  width: 111px;
  height: 32px;
  margin-right: 12px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .thailand
  span {
  margin-right: 6px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .thailand
  i {
  padding-top: 4px;
}

/* end set layout of thailand box in first box */

/* stard set layout of New box in first box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .new {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #9c9fa0;
  margin-right: 12px;
  width: 75.36px;
  height: 32px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .new
  i {
  margin-right: 6px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .new:hover {
  background-color: #f6f7f8;
  border-radius: 1.25em;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .new:active {
  background-color: #dbdee1;
}

/* end set layout of New box in first box */

/* start set layout of top box in first box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  height: 32px;
  width: 68.66px;
  color: #9c9fa0;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .top
  i {
  margin-right: 6px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .top:hover {
  background-color: #f6f7f8;
  border-radius: 1.25em;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .top:active {
  background-color: #dbdee1;
}

/* end set layout of top box in first box */

/* start set layout of dot box in first box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .dot {
  display: inline-flex;
  align-items: center;
  color: #9c9fa0;
  padding: 8px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .dot:hover {
  border-radius: 20px;
  background-color: #f6f7f8;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .dot:active {
  background-color: #dbdee1;
}

/* end set layout of dot box in first box */

/* start set layout of card box in first box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card {
  width: 41.2%;
  display: inline-flex;
  align-items: end;
  justify-content: center;
  border: none;
}
section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card
  button {
  width: 52px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  color: #9c9fa0;
}
section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card
  button:hover {
  background-color: #f6f7f8;
  border-radius: 20px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card
  button:active {
  background-color: #dbdee1;
  /* border-radius: 20px; */
}

/* set dropdown of card box */

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card
  .my-dropDown {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 220px;
}

section
  .mainContain
  .row
  .rightBox
  .mainPopularContent
  .row
  .supMainPopularCN
  .rowSupMainPopCN
  .grit_8
  .firstBoxPopCN
  .contentFirstBox
  .card
  .my-dropDown
  a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: #000;
}

/* end set layout of card box in first box */

/* -------- end Popular post section content -------- */
