* {
  margin: 0%;
  padding: 0%;
}
header .header_main {
  display: flex;
  flex-direction: row;
  text-align: center;
  height: auto;
  width: 100vw;
  padding: 15px;
  border-bottom: solid 1.5px #aaa;
}
header .header_main .logo_textlo {
  width: 200px;
}
header .header_main .logo_textlo .logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 72, 0);
  vertical-align: middle;
  border-radius: 100%;
}
header .header_main .logo_textlo .textlo {
  display: inline-block;
  vertical-align: middle;
}
header .header_main .serch_box {
  display: inline-flex;
  width: 80%;
  height: 40px;
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 1.25em;
  margin-left: 150px;
  vertical-align: middle;
  border: none;
  align-items: center;
}
header .header_main .serch_box input {
  display: inline-block;
  border: none;
  background-color: #f0f0f0;
  padding-left: 12px;
}

header .header_main .rightItem {
  display: inline-flex;
  justify-content: end;
  width: 100%;
  height: 40px;
}

header .header_main .rightItem .getApp {
  display: inline-flex;
  margin-left: 25px;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 40px;
  background-color: #aaa;
  border-radius: 1.25em;
}
header .header_main .rightItem .getApp i {
  display: inline-flex;
  margin-left: 12px;
  margin-right: 12px;
}
header .header_main .rightItem .getApp h6 {
  display: inline-flex;
  margin-bottom: 0px;
}
header .header_main .rightItem .login {
  width: 150px;
  height: 40px;
  border-radius: 1.25em;
  background-color: orange;
  color: white;
  display: inline-flex;
  margin-right: 25px;
  align-items: center;
  justify-content: center;
}
header .header_main .rightItem .login h6 {
  margin: 0px;
}
header .header_main .rightItem .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  width: 100px;
  height: 40px;
  border-radius: 1.25em;
}
header .header_main .rightItem .icon i {
  padding-left: 5px;
  padding-right: 5px;
}
/* ------------- end header ----------------*/
section .mainContain .row .leftBox {
  position: fixed;
  left: 0;
  /* set leftbox to fit the left side */
  padding: 12px 15px 12px 15px;
}
section .mainContain .row .rightBox {
  position: fixed;
  right: 0;
  /* set rightbox to fit the right side */
  background-color: #f0f0f0;
  padding: 12px 50px 12px 50px;
}
section .mainContain .row .leftBox .text {
  color: #aaa;
  font-size: small;
}
/* start home label */
section .mainContain .row .leftBox .home {
  margin-top: 12px;
}
section .mainContain .row .leftBox .home i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .home .textHome {
  display: inline-block;
}
/* end home label */

/* start poppular label */
section .mainContain .row .leftBox .poppular {
  margin-top: 12px;
}
section .mainContain .row .leftBox .poppular i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .poppular .textPop {
  display: inline-block;
}
/* end poppular label */

/* start line box */
section .mainContain .row .leftBox .line {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
section .mainContain .row .leftBox .line hr {
  width: 80%;
}
/* end line box */

/* start gaming label */
section .mainContain .row .leftBox .gaming {
  margin-top: 12px;
}
section .mainContain .row .leftBox .gaming i {
  display: inline-block;
  padding-right: 12px;
}
section .mainContain .row .leftBox .gaming .textGaming {
  display: inline-block;
}
